[submodule "projects/InstructERC"]
	path = projects/InstructERC
	url = https://github.com/emotion-recognition-reproduce/InstructERC.git

[submodule "projects/SPCL"]
	path = projects/SPCL
	url = https://github.com/emotion-recognition-reproduce/SPCL.git

[submodule "projects/FacialMMT"]
	path = projects/FacialMMT
	url = https://github.com/emotion-recognition-reproduce/FacialMMT.git
[submodule "projects/erc"]
	path = projects/erc
	url = https://github.com/emotion-recognition-reproduce/erc
[submodule "projects/SACL"]
	path = projects/SACL
	url = https://github.com/emotion-recognition-reproduce/SACL
[submodule "projects/UniMSE"]
	path = projects/UniMSE
	url = https://github.com/emotion-recognition-reproduce/UniMSE
[submodule "projects/CoMPM"]
	path = projects/CoMPM
	url = https://github.com/emotion-recognition-reproduce/CoMPM
[submodule "projects/emotionflow"]
	path = projects/emotionflow
	url = https://github.com/emotion-recognition-reproduce/emotionflow
[submodule "projects/DialogueCRN"]
	path = projects/DialogueCRN
	url = https://github.com/emotion-recognition-reproduce/DialogueCRN
